@use "../vars";

.footer {
  background: vars.$main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: vars.$sec;
    }
    &:active {
      color: vars.$sec;
    }
  }
}

#myUpBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  color: hsl(0, 100%, 50%);
  margin: 0 auto;
  display: block;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  // no borders
  outline: 0 !important;
  border: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  .icon {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
      width: 50px;
      height: 50px;
      fill: #fff;
      -webkit-animation: pulse 2.5s infinite;
      animation: pulse 2.5s infinite;
      &:hover {
        color: vars.$sec;
      }
      &:active {
        color: vars.$sec;
      }
  }
}