<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:tkxkd0159@gmail.com"><i class="icon fas fa-envelope"></i></a>
      <a aria-label="My Medium" target="_blank" href="https://medium.com/@tkxkd0159"><i class="icon fas fa-blog"
          aria-hidden="true"></i></a>
<!--       <a aria-label="My Wiki" target="_blank" href="https://bit.ly/ljswiki"><i class="icon fas fa-pen-alt"
          aria-hidden="true"></i></a> -->
      <a aria-label="My Github" target="_blank" href="https://github.com/tkxkd0159"><i class="icon fab fa-github"
          aria-hidden="true"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://bit.ly/2UTC02S"><i class="icon fab fa-linkedin"
          aria-hidden="true"></i></a>
<!--       <a aria-label="My Youtube" target="_blank" href="https://www.youtube.com/channel/UCKX9MxGr7ke5-f182Nus08A"><i
          class="icon fab fa-youtube" aria-hidden="true"></i></a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/GoJsLee"><i
          class="icon fab fa-twitter-square" aria-hidden="true"></i></a> -->


    </div>
    <div class="header-links">
      <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fas fa-chevron-down" aria-hidden="true"></i></a>
</div>
