<h2 id="mypaper">Publication & Patent</h2>
<ul>
  <li>
    Jaeseung Lee, Seongjoon Park, Hwangnam Kim, DAG-based Adaptive Distributed Ledger System for Real-Time Transactions in Smart Grid, Under review
  </li>
  <li>
    Seongjoon Park, Jaeseung Lee, and Hwangnam Kim. "Efficient computation offloading for ethereum DApps." Journal of Industrial Information Integration 31 (2023): 100411  </li>
   </li>
  <li>
    Seongjoon Park, Jaeseung Lee, Namkyung Yoon, "METHOD OF REDUCING SMART CONTRACT FEE OF DAPP," , 10-2021-0141288 KR, IP-2022-0002-US 17/668,748
   </li>
   <li>
      Jaeseung Lee, Byungheon Lee, Jaeyoung Jung, Hojun Shim, Hwangnam Kim, "DQ: Two approaches to measure the degree of decentralization of blockchain," ICT Express, August 2021
  </li>
   <li>
      Jaeseung Lee, Seongjoon Park, and Hwangnam Kim, "Expulsing UAV’s Core-System in Emergency Circumstances ," ICNGC, Busan, Korea, December 2020
  </li>
   <li>
      Donggyu Sung*, Eunhak Koh*, Yonghyeon Nam*, Jaeseung Lee*, Chanbin Lee*, Yeongbae Jeon*, Cheolkyun Choi, Jaewoo Lee, Flying-wing Type Compound Drone Design and Mission Accuracy Analysis. J. Korean Soc. Aviat. Aeronaut. 2018;26(4):122-128
   </li>
</ul>

<h2 id="workhistory">Work Experience</h2>

<p><strong>LINE</strong> Full-time worker, 01/03/2022 ~ present</p>
<ul>
  <li>Design & Manage LINE Blockchain Mainnet (LBM)</li>
  <li>Develop the LBM and its corresponding ecosystem</li>
  <li>Optimized performance of LBM ecosystem (P2P network, IAVL+DB, Data Processing, gRPC, WASM)</li>
  <li>Consensus Engine Design and Implementation</li>
  <li>CI/CD pipeline (Github Action, Docker, Static Linking)</li>
  <li>Developing Rollup(Off-chain Scaling) - VM, Batcher</li>
</ul>

<p><strong>Hanbit Publishing Network</strong> Technical Book Reviewer, 04/2021 ~ present</p>

<p><strong>CURG</strong> Researcher, 10/2021 ~ 04/2022</p>
<ul>
  <li>Review research papers related to Blockchain</li>
</ul>

<p><strong>D3LAB DAO</strong> Contributor, 02/14/2022 ~ 12/31/2022</p>
<ul>
  <li>Various technical contributions to the blockchain ecosystem</li>
</ul>

<p><strong>Decipher</strong> Mentor, 03/2022 ~ 02/2023</p>
<ul>
  <li>Research on blockchain and related topics as senior researcher, 09/2020 ~ 02/2022</li>
</ul>

<p><strong>MVLChain</strong> Outsourcing, 11/25/2021 ~ 12/22/2021</p>
<ul>
  <li>Backend server development (Node.js)</li>
  <li>Smart contract development (Ethereum)</li>
</ul>

<p><strong>Kakao Krust</strong> Commissioned research, 11/22/2021 ~ 12/16/2021</p>
<ul>
  <li>Research P2E and Web3 game </li>
</ul>


<p><strong>ZK-SEL</strong> 0x06 STARK and StarkNet (by StarkWare), 08/31/2021</p>
<ul>
  <li>Translate the sessions</li>
</ul>


<p><strong>Korea University</strong> M.S.</p>
<ul>
  <li>Digital System Experiment(KECE210) - TA, 09/2020 ~ 12/2020</li>
  <li>DAG-based Distributed Ledger for Smart Grid - Research & Dev(Python, Shell), <strong>KETEP</strong>, 11/2020 ~ 12/2021</li>
  <li>Trusty-based Network Routing Protocol for Blockchain - Research, <strong>IITP</strong>, 08/2021 ~ 12/2021</li>
  <li>Intelligent anti-drone system based on broadband drone surveillance, tracking and neutralization - Research, <strong>NRF</strong>, 08/2020 ~ 10/2021</li>
  <li>The Degree of Decentralization of Blockchain - Research, 09/2020 ~ 12/2020</li>
</ul>

<p><strong>Hyundai Motor Company</strong> Engineer, 07/2018 ~ 09/2018</p>

<ul>
  <li>Design vehicle using CATIA</li>
</ul>

<p>
  <strong>Helius</strong> UAV Design & Control Engineer,
  01/2016 ~ 09/2017
</p>
<ul>
  <li>Design Fixed-wing Aircraft &amp; Multi-rotor Drone</li>
  <li>Designed a security drone system through implement special gadgets for UAV</li>
  <li>Design and manufacture of small unmanned aerial vehicle systems</li>
  <li>UAV Stability Analysis and Control</li>
</ul>

<p>
  <strong>Republic of Korea Army</strong> Server Operator(Signal Corps),
  01/2014 ~ 10/2015
</p>
<ul>
  <li>Server Maintenance</li>

  <li>Computer &amp; Communications equipment Repair</li>

  <li>Network Security Monitoring</li>
</ul>

<h2 id="projectexperience"><a href="https://ljswiki.notion.site/8ec7216876734c188cb1fea9403d363d?v=22ed2ff0d6ad412c8f7340b161dcb136">Personal Projects</a></h2>
<ul>
  <li>
    Supernova, Liquidity for stake assets & IBC-governance - Dev(Go, Shell), 08/2022 ~ 01/2023
    <ul>
      <li>
        Built an Integrated financial platform which provides liquidity for stake assets to leverage user's profit. This provides an opportunity to maximize users' capital efficiency and create various derivatives without compromising the security of the distributed network
      </li>  
    </ul>  
  </li>
  <li>
    COSMonaut, Interactive CosmWasm Learning Platform - Dev(Rust, Node.js) & PM, <strong>D3LAB-DAO</strong>, 06/2022 ~ 12/2022
  </li>
  <li>
      The Ultimate Lending Protocol [BookLee] - R&D, <strong>Decipher</strong>, 11/2021 ~ 01/2022
  </li>

  <li>
       A integrated platform to help deal with malicious comments - Dev(JS), <strong>NedX</strong>, 07/2021 ~ 09/2021
  </li>
  <li>
      Implementation of Electronic Equipment Ejection System for UAV using
      Embedded system (Dream project) - Dev(C++), 06/2018 ~ 01/2019
  </li>
  <li>
      Design Unmanned Hybrid drone using Pixhawk(Automatic Flying with waypoint) - Dev(C++),
      03/2018 ~ 12/2018
  </li>
  <li>
    Implementation of Automatic Window Moving System Algorithm according to
    External Environment Changes - Dev(Verilog), 08/2017 ~ 12/2017
  </li>
  <li>
    Design combined wheelchair electric module to replace expensive electric
    wheelchair (Samsung Tomorrow Solutions Top 100) - Dev(C), 03/2017 ~ 11/2017
  </li>
    <li>
      Boxed-Wing airplane design for Induced drag attenuation, 03/2016 ~ 08/2016
    </li>
  <li>
    Intermeshing-Rotor Helicopter Control using Hexa-Copter controller, 03/2016
    ~ 11/2016
  </li>
  <li>
    Designed wing-length adjustable airplane according to airplane situation,
    03/2013 ~ 09/2013
  </li>
</ul>

<h2 id="education">Education</h2>

<p>
  <strong>Korea University</strong>, Seoul <br />
  &nbsp;&nbsp;<span style="font-size:85%">Master of Electrical and Computer Engineering</span>
</p>
<p>
  <strong>Konkuk University</strong>, Seoul <br />
  &nbsp;&nbsp;<span style="font-size:85%">Bachelor of Mechanical and Aerospace Engineering</span>
</p>

<h2 id="honorsandawards">Honors and Awards</h2>

<ul>
  <li>2022 HackAtom, <strong>1st prize (Winner)</strong>, $50k</li>
   <li>2021 Tendermint(Confio) Riddleton, $1.1k</li>
  <li>Dean's list, Konkuk University, 2018</li>
  <li>
    3rd Award in Creative self-directed Project Competition(Dream Project),
    2018
  </li>
  <li>Special Award in National Capstone Design Competition, 2016</li>
  <li>27th Division Security Audit Commendation, 2015</li>
</ul>
