<h2 id="projectexperience"><a href="https://ljswiki.notion.site/8ec7216876734c188cb1fea9403d363d?v=22ed2ff0d6ad412c8f7340b161dcb136">Project & Competition</a></h2>

<ul>
   <li>
      Trusty-based Network Routing Protocol for Blockchain, <strong>IITP</strong>, 08/2021 ~
  </li>
  <li>
    AMI-based Energy Trading Platform using Smart Contracts, Ethereum Hackathon, 08/2021
  </li>
    <li>
       A integrated platform to help deal with malicious comments, <strong>NedX</strong>, 07/2021 ~
  </li>
   <li>
      Confio(tendermint) Riddleton 1, <strong>Cosmos Network</strong>, 04/11/2021
   </li>
  <li>
     DAG-based Distributed Ledger for Smart Grid, <strong>KETEP</strong>, 11/2020 ~
  </li>
 <li>
    The Degree of Decentralization of Blockchain, <strong>Decipher</strong>, 09/2020 ~ 12/2020
 </li>
   <li>
  Intelligent anti-drone system based on broadband drone surveillance, tracking and neutralization, <strong>NRF</strong>, 08/2020 ~    
    </li>
  <li>
    Hijack a Drone by overriding info received from RC radio in ad-hoc network,
    04/2019 ~ 05/2019
  </li>
    <li>
      Implementation of Electronic Equipment Ejection System for UAV using
      Embedded system (Dream project), 06/2018 ~ 01/2019
    </li>
    <li>
      Design Unmanned Hybrid drone using Pixhawk(Automatic Flying with waypoint),
      03/2018 ~ 12/2018
    </li>

  <li>
    Implementation of Automatic Window Moving System Algorithm according to
    External Environment Changes, 08/2017 ~ 12/2017
  </li>

  <li>
    Design combined wheelchair electric module to replace expensive electric
    wheelchair (Samsung Tomorrow Solutions Top 100), 03/2017 ~ 11/2017
  </li>
    <li>
      Boxed-Wing airplane design for Induced drag attenuation, 03/2016 ~ 08/2016
    </li>
  <li>
    Intermeshing-Rotor Helicopter Control using Hexa-Copter controller, 03/2016
    ~ 11/2016
  </li>

  <li>
    Designed wing-length adjustable airplane according to airplane situation,
    03/2013 ~ 09/2013
  </li>
</ul>

<h2 id="workhistory">Experience</h2>

<p><strong>Decipher</strong> Researcher, 09/2020 ~ present</p>
<ul>
  <li>Research on blockchain and related topics</li>
</ul>

<p><strong>Hanbit Publishing Network</strong> Technical Book Reviewer, 04/2021 ~ present</p>


<p><strong>Fine ADS</strong> Researcher, 06/2018 ~ 09/2018</p>

<ul>
  <li>Design and manufacture of small unmanned aerial vehicle systems</li>
  <li>Design security drone system</li>
</ul>

<p>
  <strong>Republic of Korea Army</strong> Server Operator(Signal Corps),
  01/2014 ~ 10/2016
</p>

<ul>
  <li>Server Maintenance</li>

  <li>Computer &amp; Communications equipment Repair</li>

  <li>Network Security Monitoring</li>
</ul>

<p>
  <strong>Helius</strong> UAV Designer,
  03/2013 ~ 12/2018
</p>

<ul>
  <li>Design Fixed-wing Aircraft &amp; Multi-rotor Drone</li>

  <li>UAV Stability Analysis and Control</li>
</ul>


<h2 id="education">Education</h2>

<p>
  <strong>Korea University</strong>, Seoul <br />
  &nbsp;&nbsp;<span style="font-size:85%">Master of Electrical and Computer Engineering</span>
</p>
<p>
  <strong>Konkuk University</strong>, Seoul <br />
  &nbsp;&nbsp;<span style="font-size:85%">Bachelor of Mechanical and Aerospace Engineering</span>
</p>

<h2 id="honorsandawards">Honors and Awards</h2>

<ul>
   <li>$1100 reward in Confio(tendermint) Riddleton 1, 2021
  <li>Dean's list, Konkuk University, 2018</li>
  <li>
    3rd Award in Creative self-directed Project Competition(Dream Project),
    2018
  </li>

  <li>Encouragement Award in KU Capstone Design Competition, 2017</li>

  <li>Special Award in National Capstone Design Competition, 2016</li>

  <li>Encouragement Award in KU Capstone Design Competition, 2016</li>
  <li>27th Division Security Audit Commendation, 2015</li>
</ul>

<h2 id="completionofextracourse">The list of Additional Course Completion</h2>

<ul>
  <li>
    <p>Linear Algebra by Jaegul Choo</p>
  </li>

  <li>
    <p>statistics 110: probability by Joe Blitzstein</p>
  </li>
  <li>
    <p>Machine learning by Andrew Ng</p>
  </li>

  <li>
    <p>Reinforcement learning by David Silver</p>
  </li>

  <li>
    <p>Sensor Engineering by Inkyu Park</p>
  </li>
   <li>
    <p>블록체인 실무응용 1, 2 by SNU</p>
  </li>

</ul>
