<h2 id="mypaper">Publication & Patent</h2>
<ul>
  <li>
    Jaeseung Lee, Seongjoon Park, Hwangnam Kim, DAG-based Adaptive Distributed Ledger System for Real-Time Transactions in Smart Grid, Under review
  </li>
  <li>
    Seongjoon Park, Jaeseung Lee, and Hwangnam Kim. "Efficient computation offloading for ethereum DApps." Journal of Industrial Information Integration 31 (2023): 100411  </li>
   </li>
  <li>
    Seongjoon Park, Jaeseung Lee, Namkyung Yoon, "METHOD OF REDUCING SMART CONTRACT FEE OF DAPP," , 10-2021-0141288 KR, IP-2022-0002-US 17/668,748
   </li>
   <li>
      Jaeseung Lee, Byungheon Lee, Jaeyoung Jung, Hojun Shim, Hwangnam Kim, "DQ: Two approaches to measure the degree of decentralization of blockchain," ICT Express, August 2021
  </li>
   <li>
      Jaeseung Lee, Seongjoon Park, and Hwangnam Kim, "Expulsing UAV’s Core-System in Emergency Circumstances ," ICNGC, Busan, Korea, December 2020
  </li>
   <li>
      Donggyu Sung*, Eunhak Koh*, Yonghyeon Nam*, Jaeseung Lee*, Chanbin Lee*, Yeongbae Jeon*, Cheolkyun Choi, Jaewoo Lee, Flying-wing Type Compound Drone Design and Mission Accuracy Analysis. J. Korean Soc. Aviat. Aeronaut. 2018;26(4):122-128
   </li>
</ul>

<h2 id="workhistory">Work Experience</h2>

<p><strong>LINE</strong> Full-time worker, 01/03/2022 ~ present</p>
<ul>
  <li>
    <strong>Flava DBS</strong> (Go, Python): Spearheaded the end-to-end development of a fully managed MongoDB service, leading the team in architecting a decoupled control-plane (Kubernetes) and data-plane (OpenStack) platform. Designed a sophisticated three-layered Kubernetes CRD (Custom Resource Definition) architecture to abstract and automate complex database cluster lifecycle management. Contributed as a core team member to the development of managed Redis and OpenSearch services, ensuring all products adhered to a high-cohesion, low-coupling microservice design.
    <ul>
      <li><strong>Controller Optimization:</strong> Designed sub-reconcile ownership model and adopted Server-Side Apply to our controllers. $O(N^2)$ requests arising from legacy update way were reduced to $O(1)$. Optimized informer cache scope based on controller logic to reduce load on the kube-apiserver and etcd, mitigating risks of cascading failures.</li>
      <li><strong>Client Optimization:</strong> Implemented a 2Q caching mechanism to optimize connection pool management across thousands of database clusters, overcoming file descriptor and network resource constraints to achieve high efficiency, stability, and scalability under heavy load.</li>
      <li><strong>Programmatic DB Operation:</strong> Spearheaded the modernization of the controller admin workflow, replacing manual CLI usage by developing a Go API adapter for fully automated, error-resistant database operations. This critical backend component manages thousands of DB clusters and is directly responsible for sustaining a 99.9% uptime service level agreement (SLA).</li>
      <li><strong>Online Certificate Status Protocol:</strong> Transitioning from TLS termination to a zero-trust security model; identified and resolved OCSP verification issues for revoked certificates in collaboration with the internal network team.</li>
    </ul>
  </li>
  <li>
    <strong>CI/CD:</strong> Managing a scalable GitHub Action runner set using Action Runner Controller on Kubernetes, enabling on-demand, customizable runners. Managing a dedicated ArgoCD cluster for multi-region, declarative continuous deployment. Adopted ephemeral container-based DB cluster for efficient version-based integration test.
  </li>
  <li>
    <strong>AI Literacy:</strong> Served as an in-house AI instructor, providing practical prompt engineering guidance across research, writing, coding, analysis, and daily workflows. Demonstrated parallel AI agent operations without context switching using git worktree.
  </li>
  <li>
    <strong>Common:</strong> Enhanced application performance by 20% through Automatic Feedback-Directed Optimization (AutoFDO) leveraging real-world profiling data. Adopted trunk-based development with an optimized backporting strategy to accelerate release cycles and streamline deployments.
  </li>
  <li>
    <strong>Ostracon</strong> (Go): Tendermint BFT-based consensus engine for Finschia. Implemented fair block proposer selection using VRF (Verifiable Random Function) and add mempool query to observe uncommitted changes from distributed node perspective.
  </li>
  <li>
    <strong>Finschia</strong> (Go, Rust): LINE Blockchain mainnet core. Developed a token/collection module to allow users to easily place their business domains on the blockchain. Implemented secure smart contract execution environment based on the WebAssembly VM and actor model with FFI. Adopted Inter-Blockchain Communication Protocol (IBC) to enable secure, trustless data exchange across mainnets with independent consensus mechanisms. Designed a certificate-free verification process using trusted setup and merkle proofs, contributed bug fixes to IBC Relayer and core modules, identified mainnet integration side effects, and developed a soft-landing deployment strategy.
  </li>
  <li>
    <strong>Kaia Bridge</strong> (Go, Node.js): Led the development of Kaia Bridge. Designed and developed of a swap module, bridge module and relayer to enable seamless asset interoperability during the merger of LINE Finschia and Kakao Klaytn into a unified blockchain. Safely facilitated the transfer of over $194 million in digital assets with zero incidents.
  </li>
  <li>
    <strong>Finschia Rollup</strong> (Go) - pilot: Developed an optimistic rollup layer tailored to the Finschia core to overcome mainnet performance limitations. Built an execution client for off-chain message processing and a sequencer, batcher for on-chain result submission. Designed and implemented canonical and settlement Chain architectures to ensure data availability and verification, and validated the design through a proof-of-concept.
  </li>
  <li>
    <strong>DApp Portal KMS</strong> (Kotlin): Led the development of KMS for secure transaction signing. Implemented ES256-based JWT authentication for KMS access management and designed a hierarchical key architecture enabling secure, scalable signing for thousands of applications in a sandbox environment.
  </li>
  <li>
    <strong>DApp Portal</strong> (Java): Engineered a custom N-gram tokenization index in MongoDB as an alternative to search engine, achieving sub-0.1-second search auto-completion for over 10 million records despite infrastructure (cost) constraints that prevented using powerful search engine such as Elasticsearch.
  </li>
  <li>
    <strong>NextDrop</strong> (Solidity): Developed a fully on-chain, fair product sales platform using smart contracts, implementing public drops, token-gated sales, merkle proof–based tamper-proof lim.
  </li>
</ul>

<p><strong>Korea University</strong> M.S., 2019 - 2021 </p>
<ul>
  <li>Digital System Experiment(KECE210) - TA, 09/2020 ~ 12/2020</li>
  <li>DAG-based Distributed Ledger for Smart Grid - Research & Dev(Python, Shell), <strong>KETEP</strong>, 11/2020 ~ 12/2021</li>
  <li>Trusty-based Network Routing Protocol for Blockchain - Research, <strong>IITP</strong>, 08/2021 ~ 12/2021</li>
  <li>Intelligent anti-drone system based on broadband drone surveillance, tracking and neutralization - Research, <strong>NRF</strong>, 08/2020 ~ 10/2021</li>
  <li>The Degree of Decentralization of Blockchain - Research, 09/2020 ~ 12/2020</li>
</ul>

<p><strong>MVLChain</strong> Outsourcing, 11/25/2021 ~ 12/22/2021</p>
<ul>
  <li>Backend server development (Node.js)</li>
  <li>Smart contract development (Ethereum)</li>
</ul>

<p><strong>Kakao Krust</strong> Commissioned research, 11/22/2021 ~ 12/16/2021</p>
<ul>
  <li>Research P2E and Web3 game </li>
</ul>

<p><strong>Hyundai Motor Company</strong> Engineer, 07/2018 ~ 09/2018</p>

<ul>
  <li>Design vehicle using CATIA</li>
</ul>

<p>
  <strong>Helius</strong> UAV Design & Control Engineer,
  01/2016 ~ 09/2017
</p>
<ul>
  <li>Design Fixed-wing Aircraft &amp; Multi-rotor Drone</li>
  <li>Designed a security drone system through implement special gadgets for UAV</li>
  <li>Design and manufacture of small unmanned aerial vehicle systems</li>
  <li>UAV Stability Analysis and Control</li>
</ul>

<p>
  <strong>Republic of Korea Army</strong> Server Operator(Signal Corps),
  01/2014 ~ 10/2015
</p>
<ul>
  <li>Maintenance and management of thousands of devices, servers within the division</li>
  <li>Initial response to security incidents and recovery/resolution</li>
  <li>Network Audit &amp; Monitoring - Preventing Security Incidents, Conducting a security-incident postmortem</li>
  <li>Responsible for configuring military-only intranet in case of emergency</li>
</ul>

<h2 id="projectexperience"><a href="https://ljswiki.notion.site/8ec7216876734c188cb1fea9403d363d?v=22ed2ff0d6ad412c8f7340b161dcb136">Personal Projects</a></h2>
<ul>
  <li>
    Supernova, Liquidity for stake assets & IBC-governance - Dev(Go, Shell), 01/2022 - 12/2022
    <ul>
      <li>
        Built an Integrated financial platform which provides liquidity for stake assets to leverage user's profit. This provides an opportunity to maximize users' capital efficiency and create various derivatives without compromising the security of the distributed network
      </li>
    </ul>
  </li>
  <li>
    COSMonaut, Interactive CosmWasm Learning Platform - Dev(Rust, Node.js) & PM, <strong>D3LAB-DAO</strong>, 07/2022 ~ 12/2022
  </li>
  <li>
      The Ultimate Lending Protocol [BookLee] - R&D, <strong>Decipher</strong>, 11/2021 ~ 01/2022
  </li>

  <li>
       A integrated platform to help deal with malicious comments - Dev(JS), <strong>NedX</strong>, 07/2021 ~ 09/2021
  </li>
  <li>
      Implementation of Electronic Equipment Ejection System for UAV using
      Embedded system (Dream project) - Dev(C++), 06/2018 ~ 01/2019
  </li>
  <li>
      Design Unmanned Hybrid drone using Pixhawk(Automatic Flying with waypoint) - Dev(C++),
      03/2018 ~ 12/2018
  </li>
  <li>
    Implementation of Automatic Window Moving System Algorithm according to
    External Environment Changes - Dev(Verilog), 08/2017 ~ 12/2017
  </li>
  <li>
    Design combined wheelchair electric module to replace expensive electric
    wheelchair (Samsung Tomorrow Solutions Top 100) - Dev(C), 03/2017 ~ 11/2017
  </li>
    <li>
      Boxed-Wing airplane design for Induced drag attenuation, 03/2016 ~ 08/2016
    </li>
  <li>
    Intermeshing-Rotor Helicopter Control using Hexa-Copter controller, 03/2016
    ~ 11/2016
  </li>
  <li>
    Designed wing-length adjustable airplane according to airplane situation,
    03/2013 ~ 09/2013
  </li>
</ul>

<h2 id="honorsandawards">Honors and Awards</h2>

<ul>
  <li>2022 HackAtom, <strong>1st prize (Winner)</strong>, $50k</li>
   <li>2021 Tendermint(Confio) Riddleton, $1.1k</li>
  <li>Dean's list, Konkuk University, 2018</li>
  <li>
    3rd Award in Creative self-directed Project Competition(Dream Project),
    2018
  </li>
  <li>Special Award in National Capstone Design Competition, 2016</li>
  <li>27th Division Security Audit Commendation, 2015</li>
</ul>
