#about {
  font-size: 120%;

  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 100%;
  }
  svg{
    width: 60px !important;
    height: auto;
  }
}

.tech {
  margin: 0px 20px;
  flex: 1 1 0;
  h2, h3 {
    font-weight: 600;
  }
  img{
    width: 60px;
    height: auto;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 18px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-intro {
  text-align: left;
  margin: 5px auto;
}

#myUpBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  color: rgba(255, 0, 0, 0.7);
  margin: 0 auto;
  display: block;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  // no borders
  outline: 0 !important;
  border: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  .icon {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
      width: 50px;
      height: 50px;
      fill: #fff;
      -webkit-animation: pulse 2.5s infinite;
      animation: pulse 2.5s infinite;
      &:hover {
        color: $sec;
      }
      &:active {
        color: $sec;
      }
  }
}
