#maincon {
    font-size: 120%;

    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    @media only screen and (min-width:$cut) {
      width: 100%;
    }
    svg {
      width: 60px !important;
      height: auto;
    }
  }